@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100;300;400;500&display=swap');

* {
    border: 1px solid black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}

:root {
    --black: #262626;
    --color-fonts-one: #E5E5E5;
    --color-fonts-two: #0D0D0D;
    --blue: #5BFCB1;
    --orange: #ff7f5f;
    /* --background-one: #0D0D0D; */
    /* --background-two: #8CBEB2; */
    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.5rem;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--black);
    color: var(--color-fonts-one);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 50rem;
}

/* header-container*/

.header-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav-container {
    width: 70vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}

#logo {
    font-family: 'Mooli', sans-serif;
    font-size: var(--h2);
}

#ul-header {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

#ul-header li a {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-fonts-one);
}

#ul-header li a:hover {
    color: var(--blue);
    font-weight: 500;
}

/* .avatar-container*/
.avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70vw;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.avatar-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
    font-weight: 300;
}

h2 span {
    font-size: var(--h2);
    color: var(--orange);
    font-weight: 500;
}



.contact-btn {
    background-color: var(--blue);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: var(--color-fonts-two);
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    width: 150px;
}

.contact-btn:hover {
    background: #00bd68;
}

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vl {
    border-left: 6px solid var(--blue);
    height: 2.5rem;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.img-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

/* main section */

main {
    background-color: var(--blue);
    color: var(--color-fonts-two);
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
}